<mat-tab-group *ngIf="flag">
    <mat-tab label="Name"> <h2>{{choosedPlanet.name}}</h2> </mat-tab>
    <mat-tab label="Rotation Period"> <h2>{{choosedPlanet.rotation_period}}</h2> </mat-tab>
    <mat-tab label="Orbital Period"> <h2>{{choosedPlanet.orbital_period}}</h2> </mat-tab>
    <mat-tab label="Diameter"><h2>{{choosedPlanet.diameter}}</h2> </mat-tab>
    <mat-tab label="Climate"> <h2> {{choosedPlanet.climate}}</h2> </mat-tab>
    <mat-tab label="Gravity"> <h2>{{choosedPlanet.gravity}}</h2> </mat-tab>
    <mat-tab label="Terrain"> <h2>{{choosedPlanet.terrain}}</h2>  </mat-tab>
    <mat-tab label="Surface Water"> <h2>{{choosedPlanet.surface_water}}</h2>  </mat-tab>
    <mat-tab label="Population"> <h2>{{choosedPlanet.population}}</h2>  </mat-tab>
</mat-tab-group>   

